
.prediction-container{
    position: center;
    padding-left: 40%;
}

.prediction-label {
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    border-color: black;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
}

.prediction-value {
    width: 100px;
    height: 50px;
    background-color: white;
    border-color: black;
    border: 1px solid #ccc;
}

.index {
    width: 400px;
    height:400px;
    margin: 0 auto;
    padding: 20px;
}


#sendDataButton {
    background-color: #132277; 
    border: 1px solid;
    border-color: black;
    /*padding: 8px 20px;*/
    height: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

#tagResult {
    background-color: rgb(198, 18, 18);  
    border: 1px solid;
    border-color: black;
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}

#predictionResult {
    
    background-color: #eff5f5;
    border-color: black;
    border: 1px solid;
    color: black;
    width: 350px; 
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 0 10px 10px 0;
}

.containerButton{
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.containerResults{
    display: flex;
    justify-content: left; 
    align-items: center;   
}

.containerTitle{
    display: flex;
    justify-content: center; 
    align-items: center;  
}


.planStyle{
    background-color: rgba(124, 220, 186, 0.5);
}


/*
#predictionResult {
    
    background-color: #d5e5e6;
    border-color: black;
    border: 1px solid;
    color: black;
    width: 50px; 
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}


.predictionResult{
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    border-color: black;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
}
*/