<!DOCTYPE html>
<html>
    <head>
        <title>Ketcher APP</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='./css/styles.css') }}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        
        
        <div class="container">

            <div class="row">
                <div class="col-12 containerTitle">
                    <h1> Molecular activity prediction in CYP3A4</h1>
                </div>
                
            </div>

            <div class="row">
                <!-- Ketcher iframe-->
                <iframe defer="defer" id="ifKetcher" src="{{ url_for('ketcher_iframe') }}" width="800" height="600">
                </iframe>
            </div>

            <div class="row">
                <div class="col-6 containerButton">
                    <button id="sendDataButton">Send</button>
                </div>

                <div class="col-6 containerResults">
                    <div id="tagResult">Prediction</div>
                    <div id="predictionResult"></div>

                </div>
                

            </div>

            
            
            <!-- <p>Classe</p> -->
            
        </div>

       
        

        <script src="{{ url_for('static', filename='js/getMolecule.js') }}"></script>

    </body>

</html>



